html{
	background-image: url(../img/wood.png);
}

header{
	text-align: center;
}

header img {
	width: 40%;
}

@font-face{
	font-family: Receipt;
	src: url(../font/Receiptfont.ttf);
}

div.content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.container{
	width: 100%;
}

td img{
	float: right;
	max-height: 20px;
	max-width: 20px;
}

.span{
	width: 100%;
	text-align: center;
	font-size: 40px;
	padding-top: 20px;
}

#footer{
	width: 100%;
	position:absolute;
	bottom:0;
	left:0;
	background-image: url(../img/redwhite.png);
	text-align: center;
	padding-top: 10px;
	padding-bottom: 5px;
}

#footer a:link, a:visited{
	color: black;
	text-decoration: none;
}
