html{
	
}

.container{
	display:flex;
	flex-direction: row;
	width: 70%;
	margin: auto;
	position: absolute;
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
	height: 100%;
	align-items: center;
	
}

.questions{
	flex-grow: 1;
	text-align: center;

}

.reciept{
	flex-grow: 1;
	text-align: center;
	background-image: url(../img/receipt.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

